@charset "utf-8";

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	height: 30px;
}

.table-body table tr:nth-child(2n+1) {
	background: #fff;
}

.table-body table tr:nth-child(2n) {
	background: #f8f8f8;
}

.table-inner {
	position: relative;
	width: 1000px;
	height: 800px;
	margin: 0 auto;
    margin-top: 50px;
	text-align: center;
}

.table-inner table {
	width: 100%;
	table-layout: fixed;
}

.table-head {
	height: 42px;
	line-height: 42px;
	color: #fff;
	background-color: #408ec9;
}

.table-body {
	width: 100%;
	position: absolute;
	top: 42px;
	bottom: 42px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.table-body tr {
	height: 80px;
}

.page-wrap {
	position: absolute;
	bottom: 0px;
	height: 42px;
	line-height: 42px;
	width: 100%;
	background: #dbdbdb;
}

.current {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	width: 26px;
	text-align: center;
	color: #666;
	border: solid 1px #a0a0a0;
	cursor: pointer;
}

.page-info>input[type=text] {
	height: 20px;
	line-height: 20px;
	width: 26px;
}